.letter-shuffle {
  color: color(lime a(85%));

  span {
    display: inline-block;
    letter-spacing: 2px;
    /*font-family: monospace;*/
    font-weight: 500;
    font-size: 40px;
  }

  .enter {
    color: $primaryBlue;
  }

  .leave {
    color: $primaryRed;
  }
}
