.red {
  background-color: $lightText;
}

.green {
  background-color: $highlight;
}

.blue {
  background-color: $darkText;
}

.yellow {
  background-color: #FFFF99;
}

g div {
  width: 2.5em;
  height: 2.5em;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  margin-left: 42.5%;
}
